apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: staging
  labels:
    app: hello-world
    environment: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
        environment: staging
    spec:
      containers:
        - name: hello-world
          image: nginx:stable
          ports:
            - containerPort: 80
              protocol: TCP

