service:
  enabled: true
  type: LoadBalancer
  annotations:
    oci.oraclecloud.com/load-balancer-type: "nlb"
    oci.oraclecloud.com/reserved-ips: "204.216.137.207"   # set by scripts/update-traefik-oci-from-terraform.sh from terraform output reserved_public_ip_address
    oci-network-load-balancer.oraclecloud.com/security-list-management-mode: "All"
    oci-network-load-balancer.oraclecloud.com/subnet: "ocid1.subnet.oc1.sa-vinhedo-1.aaaaaaaalq77jobfgruaz5bcbpc5owopwsw63jkfp6lvajgcokjj5omblb2q"   # set by scripts/update-traefik-oci-from-terraform.sh from terraform output public_subnet_id
entryPoints:
  web:
    address: ":8000"
  websecure:
    address: ":8443"
  traefik:
    address: ":8080"
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
api:
  dashboard: true
  insecure: true
logs:
  general:
    level: INFO
